body {
  background-color: #1b263b;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.card {
  background-color: #415a77;
  color: white;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}
.card-body {
  padding: 50px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
button {
  width: 200px;
  border-radius: 20px;
}
p {
  margin: 5px;
  font-size: 20px;
}
#checkB {
  width: fit-content;
}
#container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
}
#container input {
  max-width: 330px;
}
#section2 {
  margin-top: 20px;
}
.linkbejelentkezes {
  color: #fefcfb;
}
.linkbejelentkezes:hover {
  color: #48cae4;
}

@media (width > 900px) {
  .card-body {
    min-width: 900px;
  }
  #div-regisztracio {
    position: absolute;
    left: 60%;
    bottom: 5%;
  }
}
